<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Estres</title>
</head>
<body>
    <nav>
        <h1>EXAMEN</h1>
    </nav>
    <form method="post">
        {% csrf_token %}
        
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <br>
        
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="edad" required>
        
        <br>
        
        <label for="fecha">Fecha de Nacimiento:</label>
        <input type="date" id="fecha" name="fecha" required>
        
        <br>
        
        <button type="submit"><a href="8/">Enviar</a></button>
      </form>
</body>
</html>